@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans&family=Roboto:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans&family=Roboto:wght@500&family=Source+Code+Pro&display=swap");

:root {
  --fontfamily: "Fira Sans", sans-serif;
  --btnColor: rgb(32, 107, 178);
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.sidebar {
  /* background-color: red; */
  background-color: lightslategray;
  width: 250px;
  height: 100vh;
}
.sidebar nav {
  padding: 35px;
}

.sidebar nav li {
  list-style: none;
  padding: 20px 0px;
  font-family: var(--fontfamily);
  cursor: pointer;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.mainContainer {
  /* background-color: yellow; */
  width: 90vw;
}
.infoContainer {
  width: 80vw;
  margin: 110px auto;
  display: flex;
  /* background-color: purple; */
  height: 45vh;
  justify-content: space-around;
}

.devPic img {
  height: 45vh;
}

.devInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.buttons {
  margin-top: 15px;
}
.btn {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 8px 5px 8px;
  border: none;
  border-radius: 10px;
  background-color: var(--btnColor);
  color: white;
}
.buttons button {
  margin-right: 10px;
}

.buttons button:hover {
  color: var(--btnColor);
  background-color: white;
}

.hello {
  font-family: var(--fontfamily);
  font-size: xx-large;
}
.name {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: xx-large;
}
.about {
  font-family: "Acme", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}

.moreAbout {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}
.contactContainer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.contactPic img{
object-fit: cover;
width: 35vw;
height:70vh;
border-radius:90px 0px 0px 90px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 30vw;
  gap:10px;
  margin-left: 20px;
}
.contactDetails input {
  padding: 5px;
 
}
.contactDetails button {
  width: min-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contactDetails > button:hover {
  color: var(--btnColor);
  background-color: white;
}

.heading{
  margin-left:17px;
  font-family: var(--fontfamily);
  margin-bottom:10px;
}
.checkBox{
  display: flex;
  gap:6px;
}

.contactDetails input[type='checkbox']{
margin-top: 4px;
}

#query{
  resize: none;
}